body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0; 
    width: 100%;
}
.outer {
  border-radius: 20px;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  display: inline-block; /* Automatically adjust width and height */
  width: 60%;
    @media (max-width: 767px) {
        width: 95%; /* Set a narrower width for mobile devices */
    }   
}

#nav-bar {
    background-color: #1a1a1a;
    height: 8%;
    display: flex;
    position: fixed;
    border-radius: 0px 0px 20px 20px ;
    top: 0;
    flex-direction: column;
    width: 100%;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.menu-items a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.content {
    margin-left: 20%; /* Adjust the margin to make space for the fixed sidebar */
}

.menu-items.show {
    display: flex;
}
img{
    display: none;
 }

 .logo{
    position: fixed;
    left: 0;
 }








a {
    text-decoration: none;
    color: #f0f0f0; /* Light text color */
    padding: 5px;
    margin: 1px;
    font-size: 18px;
    font-weight: bold;  
    transition: color 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

a:hover {
    color: #ff6600; 
    box-shadow: 0 0 5px #fd7600; /* Glow effect on hover for the text */
}

h2 {
    margin: 20px;
    color: #f7f7f7; 
    font-size: 24px;
    text-align: center;
}
h4 {
    margin: 20px;
    color: #ffffff; 
    font-size: 24px;
    text-align: center;
}
ul {
    margin: 20px;
    font-size: 18px;
    text-align: center;
    padding-left: 0; 
    list-style: none; 
    
}

li {
    margin: 10px;
    color: #b5afaf; /* Slightly lighter text color */
    font-size: 18px;
    text-align: left;
}

p {
    margin: 20px;
    color: #838383; /* Slightly lighter text color */
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}


section {
    background-color: #2d2c2c;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
    margin-left: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}










@media screen and (max-width: 1000px) {
    .menu-toggle {
        display: block; /* Ensure the toggle button is visible on mobile */
    }
    .logo{
        display: none;
     }
    img{
        width :150px;
        height :150px;
        border-radius: 50%;
        display: block; 
        position :relative
     }
    .menu-items {
        display: none;
        width: 40%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #1a1a1a;
        
        flex-direction: column;
        z-index: 998; /* Ensure it's above other content */
    }
}